/* Here is your custom css styles. */
/* 文章卡片标题样式 */
.card .card-content .card-title {
    color: #4c4948;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 8px;
    position: relative;
    text-align: left;
}

/* 文章卡片内容样式 */
.card .card-content .summary {
    color: #666;
    font-size: 0.9rem;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 限制显示两行 */
}

/* 卡片内容区域内边距 */
.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

/* 卡片图片样式 */
.card .card-image .responsive-img {
    width: 100%;
    height: 180px; /* 设置固定高度 */
    object-fit: cover;
}